// Colors
$color-base-black: #484848;
$color-base-white: #ffffff;
$color-base-primary: #01996d;
$color-base-secondary: #245852;
$color-accent: #fbff03;
$color-base-grey: #c4c4c4;
$color-alt-primary-lighter: rgba(1, 153, 109, 0.2);

// Viewports
$vp-768: 768px;
$vp-1440: 1440px;

//Fonts
$ff-montserrat-alternates: "Montserrat Alternates", "Helvetica", "Arial", sans-serif;
$ff-old-standard-tt: "Old Standard TT", "Times", "Times New Roman", serif;
