.about {
  border-top: 3px dotted $color-base-primary;
}

.about__container {
  display: grid;
  padding-top: 30px;
  padding-bottom: 30px;

  gap: 40px;

  @media (min-width: $vp-768) {
    display: grid;
    padding-top: 40px;
    padding-bottom: 40px;

    gap: 45px;
    grid-template-columns: repeat(6, 1fr);
  }

  @media (min-width: $vp-1440) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.about__wrapper {
  @media (min-width: $vp-768) {
    min-width: 200px;
  }

  &--full {
    @media (min-width: $vp-768) {
      grid-column: 1/-1;
    }
  }

  &--personality {
    background-image: url("../../icons/background-1.svg");

    background-size: cover;
    padding: 100px 70px 100px 100px;
    color: $color-light-gray;
    max-width: 430px;

    @media (min-width: $vp-768) {
      grid-column: 1/4;
      min-width: 350px;
      max-width: 510px;
    }
  }

  &--hobby {
    @media (min-width: $vp-768) {
      grid-column: 4/-1;
    }
  }

  &--certificates {
    @media (min-width: $vp-768) {
      grid-column: 1/-1;
    }
  }
}

.about__title {
  margin: 0 0 15px;

  font-size: 18px;
  line-height: 24px;
  color: $color-base-primary;

  @media (min-width: $vp-768) {
    margin-bottom: 20px;

    font-size: 25px;
    line-height: 30px;
  }

  @media (min-width: $vp-1440) {
    margin-bottom: 30px;
  }
}

.about__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 0 0 17px;

  list-style-type: circle;

  gap: 10px;

  .about__wrapper--certificates & {
    flex-flow: row wrap;
    justify-content: space-around;
    padding-left: 0;

    gap: 20px;

    @media (min-width: $vp-768) {
      row-gap: 30px;
    }
  }

  .about__wrapper--technology & {
    @media (min-width: $vp-768) {
      flex-direction: row;
      padding: 0;

      list-style-type: none;

      gap: 50px;
    }
  }
}

.about__item {
  font-size: 14px;
  line-height: 18px;
  font-family: $ff-old-standard-tt;

  @media (min-width: $vp-768) {
    font-size: 18px;
    line-height: 21px;
  }

  .about__wrapper--certificates & {
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  .about__wrapper--technology & {
    @media (min-width: $vp-768) {
      padding: 5px;

      border-top: 4px double $color-alt-primary-lighter;
      border-bottom: 4px double $color-alt-primary-lighter;
    }
  }
}

.about__link {
  display: flex;
  max-width: 240px;
  height: 100%;

  text-decoration: none;
}

.about__link img {
  display: block;
  overflow: hidden;

  border-radius: 20px;
}

.about__link-back {
  position: relative;
  text-align: center;
  padding: 50px 30px;
}

.about__link-header {
  margin: 0 0 10px;

  font-size: 14px;
  line-height: 18px;
  font-family: $ff-old-standard-tt;

  @media (min-width: $vp-768) {
    margin-bottom: 10px;

    font-size: 16px;
    line-height: 20px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    background-image: url("../../icons/separatop.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 80px;
    height: 40px;
  }

  &::before {
    top: -40px;
    transform: translateX(-50%) rotate(180deg);
  }

  &::after {
    bottom: -40px;
    transform: translateX(-50%);
  }
}

.about__certificates-img {
  display: block;
}

.about__text {
  margin: 0 0 10px;

  font-size: 14px;
  line-height: 18px;
  font-family: $ff-old-standard-tt;
  text-align: justify;

  @media (min-width: $vp-768) {
    font-size: 16px;
    line-height: 20px;
  }

  &--small {
    margin-top: -7px;

    font-size: 12px;
    line-height: 14px;

    @media (min-width: $vp-768) {
      font-size: 14px;
      line-height: 16px;
    }
  }
}

.about__text:last-of-type {
  margin-bottom: 0;
}
