.about {
  border-top: 3px dotted $color-base-primary;
}

.about__container {
  display: grid;
  padding-top: 30px;
  padding-bottom: 30px;

  gap: 25px;

  @media (min-width: $vp-768) {
    display: grid;
    padding-top: 40px;
    padding-bottom: 40px;

    gap: 45px;
    grid-template-columns: repeat(6, 1fr);
  }

  @media (min-width: $vp-1440) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.about__wrapper {
  @media (min-width: $vp-768) {
    min-width: 200px;
  }

  &--full {
    @media (min-width: $vp-768) {
      grid-column: 1/-1;
    }
  }

  &--courses {
    @media (min-width: $vp-768) {
      grid-column: 1/4;
    }
  }

  &--technology {
    @media (min-width: $vp-768) {
      grid-column: 5/-1;
    }
  }

  &--personality {
    @media (min-width: $vp-768) {
      grid-column: 1/4;
    }
  }

  &--hobby {
    @media (min-width: $vp-768) {
      grid-column: 4/-1;
    }
  }

  &--certificates {
    @media (min-width: $vp-768) {
      grid-column: 1/-1;
    }
  }
}

.about__title {
  margin: 0 0 15px;

  font-size: 18px;
  line-height: 24px;
  color: $color-base-primary;

  @media (min-width: $vp-768) {
    margin-bottom: 20px;
  }

  @media (min-width: $vp-1440) {
    margin-bottom: 30px;
  }
}

.about__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 0 0 17px;

  list-style-type: circle;

  gap: 10px;

  .about__wrapper--certificates & {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0;

    gap: 20px;

    @media (min-width: $vp-768) {
      row-gap: 30px;
    }
  }
}

.about__item {
  font-size: 14px;
  line-height: 18px;
  font-family: $ff-old-standard-tt;

  @media (min-width: $vp-768) {
    font-size: 16px;
    line-height: 20px;
  }

  .about__wrapper--certificates & {
    display: flex;
    align-items: center;
    max-width: 240px;
    max-height: 330px;
    overflow: hidden;

    border: 2px solid $color-base-primary;
    border-radius: 20px;
  }
}

.about__certificates-img {
  display: block;
}

.about__text {
  margin: 0 0 10px;

  font-size: 14px;
  line-height: 18px;
  font-family: $ff-old-standard-tt;
  text-align: justify;

  @media (min-width: $vp-768) {
    font-size: 16px;
    line-height: 20px;
  }

  &--small {
    margin-top: -7px;

    font-size: 12px;
    line-height: 14px;

    @media (min-width: $vp-768) {
      font-size: 14px;
      line-height: 16px;
    }
  }
}

.about__text:last-of-type {
  margin-bottom: 0;
}
