.animation-button {
  z-index: 1;
  min-height: 60px;
}

.animation-button__text {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  transition: transform 0.5s ease;

  &:first-child {
    color: $color-base-white;

    background-color: $color-base-primary;
  }

  &:last-child {
    color: $color-base-secondary;

    background-color: $color-alt-primary-lighter;
    transform: translateY(-100%);
  }
}

.animation-button:hover .animation-button__text:first-child,
.animation-button:focus .animation-button__text:first-child {
  transform: translateY(100%);
}

.animation-button:hover .animation-button__text:last-child,
.animation-button:focus .animation-button__text:last-child {
  transform: translateY(0);
}
