.animation {
  overflow-x: hidden;
}

.animation__container {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $vp-768) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (min-width: $vp-1440) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.animation__progress-bar {
  position: sticky;
  top: 2px;
  bottom: 10px;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 5px;

  background-color: $color-accent;
  transform: scaleX(0);
  transform-origin: center left;

  transition: transform 0.2s ease;
}

.animation__title {
  margin: 0 0 30px;
}

.animation__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 40px;
  padding: 40px 20px;

  list-style-type: none;

  border: 4px solid $color-alt-primary-lighter;
  border-radius: 20px;

  gap: 50px;
  place-content: center;

  @media (min-width: $vp-768) {
    padding: 40px;
  }
}

.animation__button {
  position: relative;

  display: block;
  width: 150px;
  padding: 6px 10px;
  overflow: hidden;

  font-weight: 600;
  font-size: 12px;
  font-family: $ff-montserrat-alternates;
  text-align: center;
  color: $color-base-primary;

  background-color: transparent;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.animation__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;

  gap: 0 20px;

  @media (min-width: $vp-768) {
    gap: 40px;
  }

  @media (min-width: $vp-1440) {
    gap: 50px;
  }
}

.animation__ken-burns-effect {
  width: 100%;
  max-width: 640px;
  margin: 0;
}

.animation__circle-text {
  margin: 40px auto 0;
}

.animation__moving-text {
  display: inline-flex;

  font-family: $ff-old-standard-tt;
  text-transform: uppercase;

  animation-name: marquee-moving;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes marquee-moving {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(-50vw);
  }
}

.animation__spinner {
  display: flex;
  height: 100px;
  margin: 10px 20px;

  background-color: $color-base-primary;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.animation__spinner-rect {
  animation: spinner 4s linear infinite;

  stroke: $color-base-white;
  stroke-dasharray: 85px;
  stroke-linecap: round;
  stroke-width: 3px;
}

@keyframes spinner {
  to {
    stroke-dashoffset: -340px;
  }
}

.animation__preloader--1 circle {
  transform-origin: center;

  animation: pulsate 1.6s linear infinite;

  fill: $color-base-primary;
}

.animation__preloader--1 circle:nth-child(even) {
  animation-delay: 0.8s;
}

@keyframes pulsate {
  0% {
    r: 8px;
  }

  50% {
    r: 5px;
  }

  100% {
    r: 8px;
  }
}

.animation__preloader--2 circle {
  animation: multiple-spin 2s linear infinite;

  stroke: $color-base-primary;
  stroke-width: 1px;
}

.animation__preloader--2 circle:nth-child(1) {
  stroke-dasharray: 100px 63px; /* C = 2 π ⋅ r = 26*3.14*2 = 163 */
  --stroke-dashoffset: 163px;
}

.animation__preloader--2 circle:nth-child(2) {
  stroke-dasharray: 66px 60px;  /* C = 2 π ⋅ r = 20*3.14*2 = 126 */
  --stroke-dashoffset: -126px;
}

.animation__preloader--2 circle:nth-child(3) {
  stroke-dasharray: 48px 40px;  /* C = 2 π ⋅ r = 14*3.14*2 = 88 */
  stroke-dashoffset: 40px;
  --stroke-dashoffset: 128px;
}

@keyframes multiple-spin {
  to {
    stroke-dashoffset: var(--stroke-dashoffset);
  }
}

.animation__button-shape {
  display: grid;
  max-width: 220px;
  padding: 0;

  font-size: 20px;
  line-height: 20px;
  color: $color-base-primary;

  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: color 0.3s ease;

  place-items: center;

  &:hover {
    color: $color-base-secondary;
  }

  @media (min-width: 768px) {
    font-size: 22px;
    line-height: 24px;
  }
}

.animation__button-shape svg {
  grid-area: 1 / 1 / 2 / 2;
}

.animation__button-shape span {
  padding: 0 20px;

  grid-area: 1 / 1 / 2 / 2;
}

.animation__button-shape rect {
  stroke: $color-base-primary;
  stroke-dasharray: 100px 500px;
  stroke-dashoffset: -350px;
  stroke-width: 4px;
}

.animation__button-shape:hover rect {
  animation: shape 1s ease;

  animation-fill-mode: forwards;
}

@keyframes shape {
  to {
    stroke-dasharray: 600px 0;
    stroke-dashoffset: 0;
  }
}

.animation__waves {
  margin-top: 35px;

  background-color: $color-base-primary;
  border: 3px solid $color-base-secondary;
  border-radius: 0 50% 50%;
  box-shadow: 0 0 0 2px $color-base-white, 0 0 0 4px $color-base-secondary;
  transform: rotate(45deg);
}

.animation__smil-motion {
  display: block;
}

.animation__mask {
  position: relative;

  min-height: 400px;
  min-width: 300px;
  padding-top: 180px;
  overflow: hidden;

  background-image: url("../../images/my-photo-zheleznovodsk@1x.jpg");
  border-radius: 30px;
}

.animation__mask:hover .animation__circle-top {
  r: 80px;
}

.animation__mask:hover .animation__circle-middle {
  r: 50px;
}

.animation__mask:hover .animation__circle-bottom {
  r: 40px;
}

.animation__mask-title {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;

  color: $color-light-gray;
  text-transform: uppercase;

  transform: translate(-50%, -50%);
}

.animation__mask-svg {
  position: absolute;

  width: 100%;
  height: 100%;

  color: $color-base-secondary;

  inset: 0;
}

#animation-mask circle {
  fill: #000000;
  transition: r 0.6s ease;
}


