.card {
  position: relative;

  perspective: 1000px;
  transform-style: preserve-3d;
}

.card__inner {
  padding: 10px;

  transform: translateZ(60px) scale(0.94);
}

.card__front,
.card__back {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 330px;

  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  backface-visibility: hidden;
  transform-style: preserve-3d;

  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), color 0.3s ease;
}

.card__front {
  background-color: $color-light-gray;
  transform: rotateX(0deg);
}

.card:hover .card__front,
.card:focus-visible .card__front {
  @media (min-width: $vp-768) {
    transform: rotateX(-180deg);
  }
}

.card__back {
  display: none;

  position: absolute;

  color: $color-base-white;

  background-color: $color-base-secondary;
  background-image: linear-gradient($color-base-primary 0%, $color-base-secondary 40%, $color-base-secondary 60%, $color-base-primary 100%);
  transform: rotateX(180deg);

  inset: 0;

  @media (min-width: $vp-768) {
    display: flex;
  }
}

.card:active .card__back {
  color: $color-base-grey;
}

.card:hover .card__back,
.card:focus-visible .card__back {
  @media (min-width: $vp-768) {
    transform: rotateX(0deg);
  }
}
