.circle-text {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: start;
  min-height: 150px;
  padding: 20px;

  background-color: $color-alt-primary-lighter;
  border-radius: 50%;

  transition: transform 0.8s ease;

  &:hover {
    transform: rotate(360deg);
    transform-origin: center;
  }
}

.circle-text__svg {
  display: block;
  width: 100px;
  overflow: visible;

  font-size: 20px;
  letter-spacing: 5px;

  fill: $color-base-primary;

  transition: fill 1.8s ease;
}

.circle-text__svg path {
  fill: none;
}

.circle-text:hover .circle-text__svg {
  fill: $color-base-secondary;
}
