.hero {
  background-color: #f6f8f6;
}

.hero__container {
  display: grid;
  align-items: stretch;
  min-height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $vp-768) {
    padding-top: 60px;
    padding-bottom: 60px;

    gap: 30px;
    grid-template-columns: 1fr max-content;
  }

  @media (min-width: $vp-1440) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.hero__content {
  margin-bottom: 20px;

  text-align: center;

  @media (min-width: $vp-768) {
    margin-bottom: 0;
    padding-top: 30px;
  }

  @media (min-width: $vp-1440) {
    padding-top: 40px;
  }
}

.hero__title {
  margin: 0 0 30px;

  font-weight: 700;
  font-size: 44px;
  line-height: 48px;
  font-family: $ff-old-standard-tt;
  color: $color-base-primary;

  @media (min-width: $vp-768) {
    font-size: 50px;
    line-height: 60px;
  }
}

.hero__description {
  min-height: 80px;
  margin: 0 0 20px;

  font-size: 16px;
  line-height: 24px;

  @media (min-width: $vp-768) {
    min-height: 120px;

    font-size: 25px;
    line-height: 30px;
  }
}

.hero__img-container {
  max-width: 400px;
  margin: 0 auto;
}

.hero__img {
  display: block;

  border-radius: 30px;
}
