.hidden-text {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0;
  min-height: 60px;

  box-shadow: 0 0 0 2px $color-base-primary;

  transition: box-shadow 0.5s;

  &:hover,
  &:focus-within {
    box-shadow: 0 0 40px 1px rgba($color-base-primary, 0.5);
  }
}

.hidden-text__title {
  margin: 0;
  padding: 15px;

  grid-column-start: 1;
  grid-row-start: 1;
}

.hidden-text__description {
  z-index: 1;
  line-height: 15px;

  height: 100%;
  margin: 0;
  padding: 15px;

  color: $color-base-secondary;

  background: linear-gradient(-45deg, rgba(251, 45, 247, 0.5), $color-base-white, rgba(251, 45, 247, 0.5));

  transition: clip-path 0.8s ease;

  clip-path: circle(0% at 50% 50%);

  grid-column-start: 1;
  grid-row-start: 1;
}

.hidden-text:hover .hidden-text__description,
.hidden-text:focus-within .hidden-text__description {
  clip-path: circle(70.7% at 50% 50%);
}
