.hidden-text {
  position: relative;

  display: grid;
  justify-content: center;
  align-items: center;
  width: 180px;
  min-height: 80px;
  overflow: hidden;

  font-weight: 600;
  text-align: center;
  font-size: 14px;
  font-family: $ff-montserrat-alternates;
  color: $color-base-primary;

  border-radius: 15px;
  box-shadow: 0 0 0 2px $color-base-primary;
  cursor: pointer;

  transition: box-shadow 0.6s;

  &:hover,
  &:focus-within {
    box-shadow: 0 0 40px 1px $color-base-primary;
  }
}

.hidden-text__title {
  grid-column-start: 1;
  grid-row-start: 1;

  margin: 0;
  padding: 20px;
}

.hidden-text__description {
  z-index: 1;

  grid-column-start: 1;
  grid-row-start: 1;
  height: 100%;
  margin: 0;
  padding: 25px;

  color: $color-base-secondary;

  background: linear-gradient(-75deg, #2dff1e, $color-base-white, $color-accent);

  transition: clip-path 0.8s ease;

  clip-path: circle(0% at 50% 50%);
}

.hidden-text:hover .hidden-text__description,
.hidden-text:focus-within .hidden-text__description {
  clip-path: circle(70.7% at 50% 50%);
}
