.main-footer {
  color: $color-base-white;

  background-color: $color-base-secondary;
}

.main-footer__container {
  padding-top: 15px;
  padding-bottom: 15px;

  @media (min-width: $vp-768) {
    display: grid;
    align-items: start;
    padding-top: 20px;
    padding-bottom: 20px;

    gap: 40px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $vp-1440) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.main-footer__title {
  margin: 0 0 10px;

  font-weight: 600;
  font-size: 18px;
}

.main-footer__link {
  position: relative;

  display: block;
  padding: 7px;

  font-weight: 600;
  font-size: 14px;
  color: $color-base-white;
  text-decoration: none;

  border-radius: 15px;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;
    height: 2px;

    background-color: $color-base-primary;
    transform: scaleX(0);
    transform-origin: right;

    transition: transform 0.5s ease;
  }
}

.main-footer__link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.main-footer__link:focus-visible::before {
  transform: scaleX(1);
  transform-origin: left;
}

.main-footer__link:active::before {
  background-color: $color-base-white;
}

.main-footer__wrapper {
  @media (min-width: $vp-768) {
    justify-self: end;
  }
}

.main-footer__github {
  display: inline-block;

  font-size: 16px;
}

.main-footer__copyright {
  font-weight: 600;
  font-size: 14px;
  color: $color-base-white;

  @media (min-width: $vp-768) {
    margin-top: auto;

    justify-self: end;
  }

  &::before {
    content: "";

    display: block;
    width: 192px;
    height: 213px;

    background: $color-base-primary;

    mask-image: url("../../icons/footer-decor.svg");
  }
}

.main-footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;

  @media (min-width: $vp-768) {
    margin-bottom: 0;
  }
}
