.main-footer {
  color: $color-base-white;

  background-color: $color-base-secondary;
}

.main-footer__container {
  padding: 40px;

  @media (min-width: $vp-768) {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }

  @media (min-width: $vp-1440) {
    padding: 60px;
  }
}

.main-footer__title {
  font-weight: 600;
  font-size: 18px;
  margin: 0 0 15px;
}

.main-footer__link {
  position: relative;
  padding: 7px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 16px;

  display: block;
  color: $color-base-white;
  text-decoration: none;

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $color-base-primary;
    transition: transform 0.5s ease;
    transform: scaleX(0);
    transform-origin: right;
  }
}

.main-footer__link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.main-footer__link:focus-visible::before {
  transform: scaleX(1);
  transform-origin: left;
}

.main-footer__link:active::before {
  background-color: $color-base-white;
}

.main-footer__github {
  @media (min-width: $vp-768) {
    justify-self: end;
  }
}

.main-footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;

  @media (min-width: $vp-768) {
    margin-bottom: 0;
  }
}
